<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Test form action</h1>
    <form action="http://localhost:3000/index" method="POST">
      <label> Game Title: <input type="text" name="title" id="title" /></label><br />
      <label> Image Url: <input type="text" name="imgUrl" id="imgUrl" /></label><br />
      <label> Game Description: <input type="text" name="description" id="description" /></label><br />
      <label> Game Genre: <input type="text" name="genre" id="genre" /></label><br />
      <label> Game Value: <input type="text" name="value" id="value" /></label><br />
      <input type="submit" name="submit" id="submit" value="Submit" />
    </form> 
  </body>
  <script type="application/javascript" src="src/index.js" charset="UTF-8"></script>
</html>